<div class="flex flex-col gap-8 align-center absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 mt-[100px]">
  <div class="form-backgroung">

    <h2 class="heading-h1">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="flex flex-col gap-4 w-full">
        <div class="field">
          <p><%= f.label :first_name %></p>
          <p><%= f.text_field :first_name, autocomplete: "first-name" %></p>
        </div>

        <div class="field">
          <p><%= f.label :last_name %></p>
          <p><%= f.text_field :last_name, autocomplete: "last-name" %></p>
        </div>

        <div class="field">
          <p><%= f.label :email %></p>
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
        </div>

        <div class="field">
          <p><%= f.label :password %></p>
          <% if @minimum_password_length %>
            <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
          <% end %>
          <p><%= f.password_field :password, autocomplete: "new-password" %></p>
        </div>

        <div class="field">
          <p><%= f.label :password_confirmation %></p>
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
        </div>

        <div>
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:"button button-primary" %>
        </div>

      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>