<%= form_with model: @book, data: { turbo: false } do |f| %>
    <div>
      <p> <%= f.label :title %></p>
      <%= f.text_field :title %>
    </div>
    <div>
      <p> <%= f.label :author %></p>
      <%= f.text_field :author %>
    </div>

    <div>
      <p> <%= f.label :category %></p>
      <%= f.text_field :category %>
    </div>

    <div>
      <p> <%= f.label :page_count %></p>
      <%= f.number_field :page_count, min: 1 %>
    </div>

    <div>
      <p> <%= f.label :language %></p>
      <%= f.select :language, [["English", "en"], ["Ukrainian", "uk"], ["Other", "other"]], { include_blank: "Select language" } %>
    </div>

    <div>
      <p> <%= f.label :publisher %></p>
      <%= f.text_field :publisher %>
    </div>

    <div>
      <p> <%= f.label :description %></p>
      <%= f.text_area :description %>
    </div>

    <div>
      <p> <%= f.label :image %></p>
      <%= f.file_field :image %>
    </div>

    <div class="flex gap-3 mb-6">
      <%= f.submit class: "button button-primary" %>
    </div>

  <% end %>