<div class="w-full flex flex-col gap-8">

  <header class="flex items-center justify-between">
    <h1 class="text-3xl font-bold text-[#3b2a1a]">Add a Book</h1>
    <%= link_to "← Back to Shelf", books_path, class: "text-gray-400 text-sm hover:text-[#3b2a1a] transition" %>
  </header>

  <div class="bg-white rounded-xl p-8 shadow-sm border border-[#e0d0bc]">
    <%= form_with model: @book, data: { turbo: false } do |f| %>

      <%= f.hidden_field :title %>
      <%= f.hidden_field :author %>
      <%= f.hidden_field :description %>
      <%= f.hidden_field :category %>
      <%= f.hidden_field :cover_url %>
      <%= f.hidden_field :page_count %>
      <%= f.hidden_field :language %>
      <%= f.hidden_field :publisher %>

      

      <div class="flex gap-3 mb-6 flex-col xs:flex-row">
        <input class="flex-1 border border-[#d4b896] rounded-lg px-4 py-2.5 text-sm bg-[#fdf8f3] text-[#3b2a1a] focus:border-[#a0714f] focus:outline-none transition"
               type="text" id="book-search" placeholder="Search by book title...">
        <%= f.submit "Add to Shelf", class: "button button-primary" %>
      </div>

    <% end %>

    <div id="search-results" class="flex flex-col gap-2"></div>
  </div>


  <h1 class="text-3xl font-bold text-[#3b2a1a]">Add a Custom Book</h1>

  <div class="bg-white rounded-xl p-8 shadow-sm border border-[#e0d0bc]">
  <%= render "books/book_form_custom" %>

  <div id="search-results" class="flex flex-col gap-2"></div>
</div>

</div>

