<%= button_to "<- Back", books_path, method: :get, class: "text-left mb-6 cursor-pointer" %>
<div class="flex gap-4 flex-col md:flex-row">
        <%= image_tag book.cover_url, class: "h-[250px] object-contain" if book.cover_url.present? %>       

        <div>
            <h1 class="text-2xl font-bold"><%= book.title %></h1>
            <p class="text-gray-500"><%= book.author %></p>
            <p class="text-gray-500"><%= book.category %></p>
            <p class="text-gray-500"><%= book.description %></p>
            <p class="text-gray-500"><%= book.price %></p>
            <% if book.lent? %>
                <p class="font-bold">Book is lent to <%= book.active_lent.borrower_display%></p>
            <% end %>
        </div>
    </div>

    <% if @user.blank? && @book_owner %>
        <div class="flex gap-4 mt-4 mx-auto flex-col md:flex-row" >

            <% if book.lent? %>
                <%= button_to "Take back", lend_book_path(book), method: :patch, class:"button button-primary" %>
            <% else %>
                <button onclick="openLentModal()" class="button button-primary">Lend Book</button>
                <%= render "common/lend_book_modal" %>
            <% end %>
            <%= link_to "Edit", edit_book_path(@book), class:"button button-secondary" %>
            <%= button_to "Delete", book_path(book), method: :delete, class:"button button-secondary" %>
        </div>
        <%= render "book_requests/show" %>

    <% elsif @user.blank? && !@book_owner %>
        <p>You took this book from <%= @borrowed_book.borrower.first_name %> <%= @borrowed_book.borrower.last_name %></p>

    <% else %>
        <% if @book_request %>
            <% if @book_request.status == "pending" %>
                <p class="pt-6" > You already asked this book. Please wait for the owner's decision. </p>
            <% elsif @book_request&.accepted?%>
                <% if @book.lent? %>
                    <p class="pt-6" >Owner accepted your request. Enjoy reading.</p>
                <% else %>
                    <p class="pt-6" >You have read this book, but you can ask it again.</p>
                    <%= button_to "Ask to Lend", book_requests_path,
                            params: { book_request: { book_id: book.id } },
                            method: :post,
                            class: "button button-primary" %>
                <% end %>
            <% elsif @book_request.declined? %>
                <p class="pt-6">Owner declined your request. Please try again later.</p>
                <% if @book_request.can_request_again? %>
                    <%= button_to "Ask to Lend", book_requests_path,
                        params: { book_request: { book_id: book.id } },
                        method: :post,
                        class: "button button-primary" %>
                <% else %>
                    <p class="text-gray-400 text-sm">You can ask again <%= time_ago_in_words(@book_request.updated_at + 1.week) %> from now.</p>
                <% end %>
            <% end %>
        <% else %>
            <%= button_to "Ask to Lend", book_requests_path,
                params: { book_request: { book_id: book.id } },
                method: :post,
                class: "button button-primary" %>
        <% end %>
    <% end %>