<div class="w-full flex items-center gap-4 flex-row md:flex-col">
    <% if user.avatar.attached? %>
        <%= image_tag url_for(user.avatar), class:"user-avatar" %>
    <% else %>
        <%= image_tag "default-avatar.jpg", class:"user-avatar" %>
    <% end %>
    <div>
        <p><%= user.first_name %> <%= user.last_name %></p>
        <p><%= user.email %></p>
    </div>
</div>